{% extends "home/base.html" %}
{% load staticfiles %}

{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css" />
{% endblock %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.min.js' %}"> </script>
    <script src="{% static 'home/js/dataTables.tableTools.min.js' %}"> </script>
    <script src="{% static 'home/js/jquery.dataTables.columnFilter.js' %}"> </script>
    <script src="{% static 'home/js/selection.js' %}"> </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            ClearSelection('targets');
            ClearSelection('reference');
            var table = $('#ligands').DataTable({
                'scrollX': true,
                'scrollY': $(window).height()-300,
                'bScrollCollapse': true,
                'paging': false,
                'orderCellsTop': true,
                'autoWidth': true,
                'dom': 'iTlfrt',
                //'order': [[14, "asc"]], // order by date
                'aoColumnDefs': [
                    { 'bSortable' : false, 'aTargets': [0] },
                    { 'sType': 'string', 'aTargets': [1] },
                    //{ 'sType': 'string', 'aTargets': [10] },
                ],
                'tableTools': {
                    "sRowSelect": "double",
                    "aButtons": []
                },
                initComplete: function () {
                    $('#ligands').dataTable().columnFilter({
                        sPlaceHolder: "head:after",
                        sRangeFormat: "{from}:{to}",
                        aoColumns: [
                            null,
                            { type: "select" }, // protein name
                            { type: "select" }, //protein family
                            { type: "select" }, // class
                            //{ type: "select" }, // species
                            { type: "selict" }, // pdb code
                            { type: "number-range" }, // resolution
                            //{ type: "text" }, // preferred chain
                            //{ type: "text" }, // stabilizing agent - left as type-in for now
                            //{ type: "text" }, // endogenous ligand name
                            //{ type: "text" }, // endogenous ligand type
                            //{ type: "text" }, // x-ray ligand
                            //{ type: "text" }, // x-ray ligand function
                            //{ type: "text" }, // x-ray ligand type
                            //{ type: "text" }, // reference
                            //{ type: "date-range" }, // publication date
                        ]
                    });
                }
            });
            //$.datepicker.regional[""].dateFormat = "yy-mm-dd";
            //$.datepicker.setDefaults($.datepicker.regional['']);
            //$('.alt').change(function () {
            //    $(this).parent().parent().toggleClass('alt_selected');
            //});
            //$('#superpose_btn').click(function () {
            //    ClearSelection('targets');
            //    ClearSelection('reference');
            //    if (table.rows('.selected').data().length == 1) {
            //        var div = document.createElement("div");
            //        div.innerHTML = table.rows('.selected').data()[0][5];
            //        if (typeof div.innerText !== "undefined") {
            //            AddToSelection('reference', 'structure', div.innerText.replace(/\s+/g, ''));
            //        } else {
            //            AddToSelection('reference', 'structure', div.textContent.replace(/\s+/g, ''));
            //        }
            //
            //    }
            //    var checked_data = table.rows('.alt_selected').data();
            //    for (i = 0; i < checked_data.length; i++) {
            //        var div = document.createElement("div");
            //        div.innerHTML = checked_data[i][5];
            //        if (typeof div.innerText !== "undefined") {
            //            AddToSelection('targets', 'structure', div.innerText.replace(/\s+/g, ''));
            //        } else {
            //            AddToSelection('targets', 'structure', div.textContent.replace(/\s+/g, ''));
            //        }
            //    
            //    }
            //    window.location.href = '/structure/superposition_workflow_index';
            //});
            //$.fn.dataTable.ext.search.push(
            //    function (settings, data, dataIndex) {
            //        if ($('#representative_btn').hasClass('toggled')) {
            //            if ($(table.row(dataIndex).node()).hasClass("repr-st")) {
            //                return true;
            //            }
            //            return false;
            //        }
            //        else {
            //            return true;
            //        }
            //});
            //
            //$('#representative_btn').click(function () {
            //    //class 'active' is conflicting with something else o.O
            //    $(this).toggleClass('toggled');
            //    table.draw();
            //});
            //$('#download_btn').click(function () {
            //    ClearSelection('targets');
            //    var checked_data = table.rows('.alt_selected').data();
            //    for (i = 0; i < checked_data.length; i++) {
            //        var div = document.createElement("div");
            //        div.innerHTML = checked_data[i][5];
            //        if (typeof div.innerText !== "undefined") {
            //            AddToSelection('targets', 'structure',  div.innerText.replace(/\s+/g, '') );
            //        } else {
            //            AddToSelection('targets', 'structure', div.textContent.replace(/\s+/g, ''));
            //        }
            //    }
            //    window.location.href = '/structure/pdb_download_index';
            //});
            //$('#align_btn').click(function () {
            //    var checked_data = table.rows('.alt_selected').data();
            //    ClearSelection('targets');
            //    for (i = 0; i < checked_data.length; i++) {
            //        var div = document.createElement("div");
            //        div.innerHTML = checked_data[i][5];
            //        if (typeof div.innerText !== "undefined") {
            //            AddToSelection('targets', 'structure', div.innerText.replace(/\s+/g, ''));
            //        } else {
            //            AddToSelection('targets', 'structure', div.textContent.replace(/\s+/g, ''));
            //        }
            //
            //    }
            //    window.location.href = '/structure/selection_convert';
            //});
            //$('.select-all').change(function () {
            //    $('.alt').prop('checked', $(this).prop("checked"));
            //    $('.alt').parent().parent().toggleClass('alt_selected');
            //});

        });
    </script> 
{% endblock %}

{% block content %}


    <!--<div class="btn-group">-->
    <!--    <a id="align_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Align</a>-->
    <!--</div>-->
    <div class="btn-group">
        <a id="download_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Download</a>
    </div>
    <!--<div class="btn-group">
        <a id="representative_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Show representative</a>
    </div>-->
    <!--<div class="btn-group">-->
    <!--    <a id="superpose_btn" class="btn btn-primary btn-mini " href="javascript:void(0)">Superposition</a>-->
    <!--</div>-->
    <div style="font-size: 10px;">For superimposition: Select (tick box) ligands, and Highlight the reference template</div>
    <br />
    <br />
    <div style="padding-top: 0px; font-size: 10px; white-space: nowrap;">
	<table width="100%" class="display" id="ligands">
            <thead>
                <tr>
		    <th><input class="select-all" type="checkbox"> Select all</th>
		    <th class="protein-th">Entry name</th>
                    <th class="protein-th">Receptor</th>
                    <th class="protein-th">Rec family</th>
                    <th class="protein-th">Class</th>
                    <!--<th class="protein-th">Species</th>-->
                    <th class="ligand-th">Num ligands</th>

		</tr>
		<tr>
		    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
		</tr>
	    </thead>
            <tbody>
		{% for ligand in ligands %}
		    {% if ligand.representative %}
                    <tr class="repr-st">
		    {% else %}
                    <tr>
		    {% endif %}
                    <td><input class="alt" type="checkbox"></td>
		    <!--<td>{{ligand.protein__entry_name}}</td>-->
		    <!--<td>{{ligand.protein__family__name}}</td>-->
		    <!--<td>{{ligand.protein__family__parent__name}}</td>-->
		    <!--<td>{{ligand.protein__family__parent__parent__name}}</td>-->
		    <!--<td>{{ligand.protein__species__common_name}}</td>-->
		    <!--<td>{{ligand.num_ligands}}</td>-->
		    <!--<td><a href="/ligand/{{ligand.protein__family__slug}}">{{ligand.protein__entry_name}}</a></td>-->
		    <td><a href="/ligand/p/{{ligand.protein__entry_name}}">{{ligand.protein__entry_name}}</a></td>
		    <td><a href="/ligand/{{ligand.protein__family__parent__slug}}">{{ligand.protein__family__parent__name}}</a></td>
		    <td><a href="/ligand/{{ligand.protein__family__parent__parent__slug}}">{{ligand.protein__family__parent__parent__name}}</a></td>
		    <td><a href="/ligand/{{ligand.protein__family__parent__parent__parent__slug}}">{{ligand.protein__family__parent__parent__parent__name}}</a></td>
   		    <td><a href="/ligand/{{ligand.protein__entry_name}}">{{ligand.num_ligands}}</a></td>
		
		    </tr>
		    
		{% endfor %}
	    </tbody>
	</table>
    </div>
 <p> Ooops! There is no data to show here yet. </p>
{% endblock %}